ul {
  list-style-type: none;
  padding-inline-start: unset;
  display: grid;
  grid-gap: 1rem;
}
ul {
  grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
}
li {
  background-color: var(--surfaceBg);
  color: var(--surfaceFg);
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
li.border {
  border-left: .4rem solid var(--surfaceFg);
  border-right: .4rem solid var(--surfaceBg);
  border-radius: .5rem;
}
ul img {
  object-fit: cover;
  width: 100%;
  max-height: var(--cardHeight);
}
li.disabled {
  opacity: .7;
}
li.inverse {
  color: var(--secondaryFg);
}
