html {
  --specialFont: 'Josefin Sans', sans-serif;
  --mainFont: 'Open Sans', sans-serif;
  --secondaryFont: 'Teko', sans-serif;
  --monoFont: 'Share Tech Mono', monospace;
  --textFont: 'Lexend', sans-serif;
  --primaryColor: aliceblue;
  --secondaryColor: skyblue;
  --linkColor: deeppink;
  --bgColor: #333;
  --fgColor: ivory;
  --darkColor: gray;
  --contentWidth: 600px;
  --themeColor: #ffc100;
  --tertiaryColor: #2cdd88;
}

body {
  font-family: var(--mainFont);
  font-size: 17px;
  line-height: 1.6;
  background-color: var(--bgColor);
  color: var(--fgColor);
}

hr {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-color: var(--bgColor);
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondaryFont);
  font-weight: normal;
  color: var(--secondaryColor);
  line-height: 1;
}

h1 { font-size: 2.5em }
h2 { font-size: 2em }
h3 { font-size: 1.7em }
h4 { font-size: 1.4em }
h5 { font-size: 1.2em }
h6 { font-size: 1em }

.special {
  font-family: var(--specialFont);
  text-align: center;
  color: var(--primaryColor);
  margin: 10px 0 5px 0;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 6px;
}
body::-webkit-scrollbar-corner {
  background-color: transparent;
}

code, pre {
  font-family: var(--specialFont);
}

code {
  white-space: pre-wrap;
  color: var(--primaryColor);
}

pre {
  background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05));
  padding: 10px;
}

pre code {
  color: inherit;
}

blockquote {
  border-left: 5px solid var(--darkColor);
  padding-left: 10px;
  margin: 0 10px 0 20px;
  font-family: var(--specialFont);
  font-size: 19px;
}

blockquote p {
  margin: 0;
}

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-disabled { color: rgba(0,0,0,0.1); }

.buttons {
  margin-bottom: 1em;
}
.buttons a {
  text-decoration: none;
  color: yellowgreen;
}

.middle-align {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.middle-align img {
  margin-right: 5px;
}

.spacer {
  margin-top: 100px;
}

.spacer-left {
  margin-left: 10px;
}

.middle-spacer {
  justify-content: space-around;
  width: 200px;
}

.center-align {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}

.footer, .footer a {
  color: var(--darkColor);
  font-size: 14px;
}

.pull-left, .pull-right {
  color: var(--darkColor);
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.pull-left {
  flex-direction: row-reverse;
}
