html {
  --bg: whitesmoke;
  --fg: #444;
  --cardWidth: 170px;
  --cardHeight: 450px;
  --fontSize: 16px;
  --c1: #005F73;
  --c2: #03989E;
  --c3: #CA6702;
  --c4: #EE9B00;
  --c5: #355691;
  --c6: #4073A0;
  --c7: #3C5A14;
  --c8: #598B2C;
  --c9: #9B2226;
  --c10: #B18FCF;
}
.card-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(225deg, var(--fg) 50%, transparent 50%);
  background-size: 120px 27px;
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  border-top-width: 22px;
  border-top-style: solid;
  border-top-color: var(--fg);
  background-color: var(--bg);
  color: var(--fg);
  text-transform: none;
  height: calc(100% - 22px);
}
.top-bar, .tab {
  color: var(--bg);
  font-family: var(--specialFont);
}
.top-bar {
  margin: -23px 0 0 5px;
  font-size: 18px;
  text-align: left;
}

.tab {
  position: absolute;
  top: -15px;
  right: 3px;
  font-size: 50px;
  line-height: 43px;
  text-align: right;
}
.tab small {
  display: block;
  font-size: 21px;
}

.tab .material-icons {
  font-size: 32px;
}

.header {
  margin: 0px 50px 0 5px;
  text-align: left;
  line-height: 1;
  height: 30px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: var(--secondaryFont);
}

.body {
  flex-grow: 2;
  padding: 0 10px;
  overflow: hidden;
}
.body h2 {
  word-break: break-word;
  margin-top: 10px;
  line-height: 2.4rem;
}

.body .item {
  margin-bottom: 20px;
  text-align: left;
  font-size: var(--fontSize);
  border-top: 3px outset;
  line-height: normal;
}
.body .item h3 {
  margin: 0 0 0 5px;
  color: var(--fg);
}

.control {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.control a {
  text-decoration: none;
  font-size: var(--fontSize);
}

.control a.button {
  display: flex;
  border-radius: 5px;
  padding: 5px 10px;
  color: white!important;
  background-color: var(--fg);
}

.control .tags {
  font-family: var(--secondaryFont);
}

.c1 {
  background-image: linear-gradient(225deg, var(--c1) 50%, transparent 50%);
  border-top-color: var(--c1);
}
.c1 .control a.button, .c1.current .control { background-color: var(--c1) }
.c1 .control a, .c1 .body h3 { color: var(--c1) }

.c2 {
  background-image: linear-gradient(225deg, var(--c2) 50%, transparent 50%);
  border-top-color: var(--c2);
}
.c2 .control a.button, .c2.current .control  { background-color: var(--c2) }
.c2 .control a, .c2 .body h3 { color: var(--c2) }

.c3 {
  background-image: linear-gradient(225deg, var(--c3) 50%, transparent 50%);
  border-top-color: var(--c3);
}
.c3 .control a.button, .c3.current .control  { background-color: var(--c3) }
.c3 .control a, .c3 .body h3 { color: var(--c3) }
.c4 {
  background-image: linear-gradient(225deg, var(--c4) 50%, transparent 50%);
  border-top-color: var(--c4);
}
.c4 .control a.button, .c4.current .control  { background-color: var(--c4) }
.c4 .control a, .c4 .body h3 { color: var(--c4) }
.c5 {
  background-image: linear-gradient(225deg, var(--c5) 50%, transparent 50%);
  border-top-color: var(--c5);
}
.c5 .control a.button, .c5.current .control  { background-color: var(--c5) }
.c5 .control a, .c5 .body h3 { color: var(--c5) }
.c6 {
  background-image: linear-gradient(225deg, var(--c6) 50%, transparent 50%);
  border-top-color: var(--c6);
}
.c6 .control a.button, .c6.current .control  { background-color: var(--c6) }
.c6 .control a, .c6 .body h3 { color: var(--c6) }
.c7 {
  background-image: linear-gradient(225deg, var(--c7) 50%, transparent 50%);
  border-top-color: var(--c7);
}
.c7 .control a.button, .c7.current .control  { background-color: var(--c7) }
.c7 .control a, .c7 .body h3 { color: var(--c7) }
.c8 {
  background-image: linear-gradient(225deg, var(--c8) 50%, transparent 50%);
  border-top-color: var(--c8);
}
.c8 .control a.button, .c8.current .control  { background-color: var(--c8) }
.c8 .control a, .c8 .body h3 { color: var(--c8) }
.c9 {
  background-image: linear-gradient(225deg, var(--c9) 50%, transparent 50%);
  border-top-color: var(--c9);
}
.c9 .control a.button, .c9.current .control  { background-color: var(--c9) }
.c9 .control a, .c9 .body h3 { color: var(--c9) }
.c10 {
  background-image: linear-gradient(225deg, var(--c10) 50%, transparent 50%);
  border-top-color: var(--c10);
}
.c10 .control a.button, .c10.current .control  { background-color: var(--c10) }
.c10 .control a, .c10 .body h3 { color: var(--c10) }
